doctype html
html
  head
    title Voting App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .header
      .welcome
        if user != null
            p#logstatus Logged in as: #{user.github.username}
        else
            p#logstatus Not logged in
      ul
        li
          a(href='/') Home
        li
          a(href='/yourpolls') Your Polls
        li
          a(href='/newpoll') New Poll
        li
          if user != null
             a#loginlink(href='/logout')
               span#loginout Logout
          else
             a#loginlink(href='/login')
               span#loginout Login
    .main
      #pollList.pollList
        .pollListHeader
          h1 List of Polls
        for poll in polls
            a(href='/polls/'+poll._id)
                div.pollRecord
                    p= poll.question
    .projectInfo
      .infoBox
        h1 Background
        br
        p This voting and poll creation app is a
        br
        p FreeCodeCamp full-stack project
      .infoBox
        h1 Technologies
        br
        p Front-end: Pug
        br
        p Back-End: Express.js, Mongoose
      .infoBox
        h1 Author
        br
        p David Magee is a web developer in
        br
        p Houston, TX
