/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
	padding: 0;
	margin: -25px 0 0 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

/** Index2 Styling **/

.header{
  background-color:black;
  width:100%;
  height:40px;
  text-align:right;
}
.header ul{
  margin:0 60px 0 0;
  display:inline-block;
}
.header ul li{
  display:inline-block;
  color:white;
  margin: 0 30px 0 30px;
}
.header ul li a{
  text-decoration:none;
  color:white;
  font-size:30px;
  padding:0px 10px 5px 10px;
}
.header ul li a:hover{
  background-color:brown;
}
.welcome{
  float:left;
  display:inline-block;
  text-align:left;
}
.welcome p{
  padding-left:40px;
  margin:0;
  font-size:32px;
  color:white;
}
.main{
  width:900px;
  margin: 0 auto 0 auto;
  text-align:center;
  position:relative;
  overflow:auto;
}
.pollList{
  width:400px;
  background-color:white;
  margin:100px auto 0 auto;
  border: 1px solid black;
}
.pollListHeader{
  width:100%;
  height:50px;
  background-color:gray;
  text-align:center;
}
.pollListHeader h1{
  padding:5px 0 0 0;
  margin:0;
}
.pollRecord{
  width:100%;
  height:50px;
  border-bottom:1px solid black;
  margin:auto;
  text-align:center;
  transition:background-color 0.5s;
}
.pollRecord:hover{
  background-color:lightblue;
}
.pollRecord p{
  margin:0;
  padding-top:12px;
}

#newPollForm{
  margin-top:100px;
}
input[type=text], select, textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#choice3box{
  display:none;
}
#choice4box{
  display:none;
}
#choice5box{
  display:none;
}
#choice6box{
  display:none;
}
#choice7box{
  display:none;
}
a{
	text-decoration:none;
	color:black;
}
.pollData{
  width:400px;
  background-color:white;
  margin:100px 0 0 0;
  border: 1px solid black;
  display:inline-block;
  vertical-align:top;
}
.pollHeader{
  width:100%;
  background-color:gray;
  text-align:center;
  min-height:50px;
}
.pollHeader h3{
  padding-top:10px;
  margin:0;
}
.pollDataRecord{
  width:100%;
  height:50px;
  border-bottom:1px solid black;
  margin:auto;
  text-align:center;
  transition:background-color 0.5s;
}
.pollDataRecord:hover{
  background-color:lightblue;
}
.pollDataRecord p{
  margin:0;
  padding-top:12px;
}
.pollChart{
  height:400px;
  width:400px;
  margin:100px 0 0 0;
  display:inline-block;
  border:1px solid black;
}
.voteoption{
  width:100%;
  height:50px;
  text-align:center;
  background:none;
  border:none;
  border-bottom:1px solid black;
  transition:background-color 0.5s;
  font-size:15px;
}
.voteoption:hover{
  background-color:lightblue;
}
button:focus {outline:0;}
.deleteButton{
  position:absolute;
  height:45px;
  margin-left:210px;
  margin-top:-50px;
  background-color: red;
  font-weight: 900;
  font-family: Tahoma;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px;
}
#pollAddOption{
  display:block;
  margin:auto;
  font-weight: 900;
  font-family: Tahoma;
  padding: 5px 5px 5px 5px;
}
.addOptionDiv{
  width:400px;
  margin: 0 auto 0 auto;
  text-align:center;
  position:relative;
  overflow:auto;
}
.pollContainer{
  display:inline-block;
  vertical-align:top;
}
#newOption{
  width:335px;
  display:inline-block;
  margin-top:0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
#newOptionSubmit{
  display:inline-block;
  width:65px;
  height:42px;
  margin-left:0px;
  margin-top: 0px;
  vertical-align: top;
  font-weight: 900;
  font-family: Tahoma;
}
#newOptionForm{
  display:none;
}
.projectInfo{
  background-color: gray;
  width:100%;
  min-height:300px;
  text-align:center;
  overflow:hidden;
  vertical-align: bottom;
  margin-top:150px;
}
.infoBox{
  width:300px;
  display:inline-block;
  margin: 50px 50px 0px 50px;
  vertical-align: top;
  text-align: left;
  padding: 0px 0px 50px 30px;
  border-left:2px solid black;
}
.infoBox h1{
  color: white;
  margin-bottom:0px;
}
.infoBox p{
  font-family: Arial;
  color: #E0E0E0;
  margin:0px;
}